name: CI

on:
  push:
    branches: master
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.20.5'
    
      - run: go build -v ./...
      - run: go test -v ./...
